.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.upload-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.upload-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

input[type="file"] {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0069d9;
}

.progress-bar-container {
  display: flex;
  width: 300px;
  height: 5px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #4CAF50; /* Customize this color */
  border-radius: 5px;
  transition: width 0.3s ease;
}
